@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#titlebar-content, #TabsToolbar{
  direction: rtl;
}

#tabbrowser-tabs {
  direction: ltr;
}

.titlebar-placeholder:nth-child(1){
  display: none;
}


/* OPTIONAL!!! */
/* Set button order to close,minimize,maximize from close, maximize, minimize */

#titlebar-buttonbox-container, #titlebar-buttonbox{
  display: flex;
  flex: 1;
}

#titlebar-close{
  order: 3;
}

#titlebar-min{
  order: 2;
  margin-left: 6px !important;
}

#titlebar-max{
  order: 1;
}